<!doctype html>
<title>{% block title %}{% endblock %} - Nomadat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<header>
  {% block header %}{% endblock %}
</header>
<nav>
  <h1>Nomadat Mail</h1>
  <ul>
      <li>Home</li>
      <li>Tutoriales</li>
  </ul>
</nav>
<aside>
  <ul>
    <li>Tutorial1</li>
  </ul>
</aside>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>